Repository flowacademyhu/theta-project-tracker, pull requests merged in 2020-07, with the labels that each got.

#122 I118 backend debug
  backend/config/swagger.json
  backend/migrations/20200617131303_create_milestones.js
  backend/src/app/controllers/actionLabel.ts
  backend/src/app/controllers/client.ts
  backend/src/app/controllers/milestone.ts
  backend/src/app/controllers/project.ts
  backend/src/app/controllers/projectUser.ts
  backend/src/app/controllers/timeRecord.ts
  backend/src/app/controllers/user.ts
  backend/src/app/controllers/userProfile.ts
  backend/src/app/controllers/userProject.ts
  backend/src/app/routers/index.ts
  backend/src/app/serializers/client.ts
  backend/src/app/serializers/milestone.ts
  backend/src/app/serializers/project.ts
Labels: backend

#133 I130 days of the month
  backend/config/swagger.json
  backend/package-lock.json
  backend/package.json
  backend/src/app/controllers/calendar.ts
  backend/src/app/routers/calendar.ts
  backend/src/app/routers/index.ts
Labels: backend

#136 I135 routing fix
  frontend/theta-project-tracker/src/app/app-routing.module.ts
Labels: frontend

#132 user cannot open side-nav-container, header shows on login page, mino…
  frontend/theta-project-tracker/src/app/components/header.component.ts
  frontend/theta-project-tracker/src/app/components/login.component.ts
  frontend/theta-project-tracker/src/app/components/sidenav-container.component.ts
  frontend/theta-project-tracker/src/app/services/auth.service.ts
Labels: frontend

#145 [FIX] I29 overtime multiplier resource
  backend/config/swagger.json
  backend/src/app/controllers/overtimeMultiplier.ts
  backend/src/app/routers/overtimeMultiplier.ts
Labels: backend

#139 i138 editactionLabel controller
  backend/config/swagger.json
  backend/migrations/20200618151311_create_actionLabels.js
  backend/seeds/06-example-actionLabels.js
  backend/src/app/controllers/actionLabel.ts
  backend/src/app/controllers/projectActionLabel.ts
  backend/src/app/models/actionLabel.ts
  backend/src/app/routers/index.ts
  backend/src/app/routers/projectActionLabel.ts
  backend/src/app/serializers/actionLabel.ts
Labels: backend

#137 I134 milestones on project
  backend/config/swagger.json
  backend/src/app/controllers/milestone.ts
  backend/src/app/controllers/projectMilestone.ts
  backend/src/app/routers/index.ts
  backend/src/app/routers/projectMilestone.ts
  backend/src/app/serializers/milestone.ts
Labels: backend

#146 i140 index response
  backend/src/app/controllers/user.ts
Labels: backend

#144 I141 action label
  frontend/theta-project-tracker/src/app/app-routing.module.ts
  frontend/theta-project-tracker/src/app/app.component.ts
  frontend/theta-project-tracker/src/app/app.module.ts
  frontend/theta-project-tracker/src/app/components/action-label.component.ts
  frontend/theta-project-tracker/src/app/components/clients.component.ts
  frontend/theta-project-tracker/src/app/components/milestones.component.ts
  frontend/theta-project-tracker/src/app/components/new-action-label.component.ts
  frontend/theta-project-tracker/src/app/components/new-milestone.component.ts
  frontend/theta-project-tracker/src/app/components/new-project.component.ts
  frontend/theta-project-tracker/src/app/components/projects.component.ts
  frontend/theta-project-tracker/src/app/components/sidenav-container.component.ts
  frontend/theta-project-tracker/src/app/components/users.component.ts
  frontend/theta-project-tracker/src/app/modals/new-action-label-modal.component.ts
  frontend/theta-project-tracker/src/app/models/action-label.model.ts
  frontend/theta-project-tracker/src/app/resolvers/action-label.resolver.ts
  frontend/theta-project-tracker/src/app/services/action-label.service.ts
Labels: frontend

#149 I148 display records
  backend/config/swagger.json
  backend/src/app/controllers/report.ts
  backend/src/app/routers/report.ts
  backend/src/app/serializers/report.ts
  backend/src/lib/report.ts
  frontend/theta-project-tracker/src/app/components/reports-table.component.ts
  frontend/theta-project-tracker/src/app/components/reports.component.ts
  frontend/theta-project-tracker/src/app/http.service.ts
  frontend/theta-project-tracker/src/app/services/reports.service.ts
Labels: backend, frontend

#152 I153 Project select
  frontend/theta-project-tracker/src/app/app.module.ts
  frontend/theta-project-tracker/src/app/components/record-create.component.ts
  frontend/theta-project-tracker/src/app/components/record-one-week.component.ts
  frontend/theta-project-tracker/src/app/components/timesheet.component.ts
  frontend/theta-project-tracker/src/app/modals/record-create.model.ts
  frontend/theta-project-tracker/src/app/services/projectUsers.service.ts
  frontend/theta-project-tracker/src/assets/i18n/en.json
Labels: frontend

#156 I140 removed pagination response
  backend/src/app/controllers/user.ts
Labels: backend

#155 I154-css-magic
  frontend/theta-project-tracker/src/app/app-routing.module.ts
  frontend/theta-project-tracker/src/app/app.component.ts
  frontend/theta-project-tracker/src/app/components/action-label.component.ts
  frontend/theta-project-tracker/src/app/components/client-management-component.ts
  frontend/theta-project-tracker/src/app/components/clients.component.ts
  frontend/theta-project-tracker/src/app/components/edit-user.component.ts
  frontend/theta-project-tracker/src/app/components/header.component.ts
  frontend/theta-project-tracker/src/app/components/milestones.component.ts
  frontend/theta-project-tracker/src/app/components/new-action-label.component.ts
  frontend/theta-project-tracker/src/app/components/new-milestone.component.ts
  frontend/theta-project-tracker/src/app/components/new-project.component.ts
  frontend/theta-project-tracker/src/app/components/new-user.component.ts
  frontend/theta-project-tracker/src/app/components/profile.component.ts
  frontend/theta-project-tracker/src/app/components/projects.component.ts
  frontend/theta-project-tracker/src/app/components/reports-table.component.ts
  frontend/theta-project-tracker/src/app/components/reports.component.ts
  frontend/theta-project-tracker/src/app/components/users.component.ts
  frontend/theta-project-tracker/src/app/modals/confirm-modal.component.ts
  frontend/theta-project-tracker/src/app/modals/delete-modal.component.ts
  frontend/theta-project-tracker/src/app/services/client.service.ts
  frontend/theta-project-tracker/src/app/services/project.service.ts
  frontend/theta-project-tracker/src/app/services/user.service.ts
  frontend/theta-project-tracker/src/assets/i18n/en.json
Labels: frontend

#157 I151-report-filter
  frontend/theta-project-tracker/src/app/components/reports-table.component.ts
  frontend/theta-project-tracker/src/app/components/reports.component.ts
  frontend/theta-project-tracker/src/app/services/reports.service.ts
Labels: frontend

#161 I87 pagination
  frontend/theta-project-tracker/src/app/components/action-label.component.ts
  frontend/theta-project-tracker/src/app/components/clients.component.ts
  frontend/theta-project-tracker/src/app/components/milestones.component.ts
  frontend/theta-project-tracker/src/app/components/projects.component.ts
  frontend/theta-project-tracker/src/app/components/users.component.ts
Labels: frontend

#160 I142 edit timerecord
  backend/config/swagger.json
  backend/migrations/20200704234350_create_userTimeRecord.js
  backend/migrations/20200704234358_create_timeRecord.js
  backend/seeds/07-example-overtimeMultipliers.js
  backend/seeds/07-example-timeRecords.js
  backend/seeds/08-example-userTimeRecord.js
  backend/seeds/09-example-timeRecords.js
  backend/src/app/controllers/report.ts
  backend/src/app/controllers/timeRecord.ts
  backend/src/app/models/timeRecord.ts
  backend/src/app/models/userTimeRecord.ts
  backend/src/app/routers/timeRecord.ts
  backend/src/app/serializers/timeRecord.ts
  backend/src/lib/enums.ts
Labels: backend

#163 I158 reports date filters
  frontend/theta-project-tracker/package.json
  frontend/theta-project-tracker/src/app/app.module.ts
  frontend/theta-project-tracker/src/app/components/reports.component.ts
  frontend/theta-project-tracker/src/app/services/reports.service.ts
  frontend/theta-project-tracker/src/app/table/table.component.html
Labels: frontend

#166 I147 date picker
  frontend/theta-project-tracker/package-lock.json
  frontend/theta-project-tracker/package.json
  frontend/theta-project-tracker/src/app/app.module.ts
  frontend/theta-project-tracker/src/app/components/date-picker.component.ts
  frontend/theta-project-tracker/src/app/components/timesheet.component.ts
  frontend/theta-project-tracker/src/app/services/date-picker.service.ts
Labels: frontend

#170 I38 add user to project
  frontend/theta-project-tracker/src/app/app.module.ts
  frontend/theta-project-tracker/src/app/components/login.component.ts
  frontend/theta-project-tracker/src/app/components/new-project.component.ts
  frontend/theta-project-tracker/src/app/components/projects.component.ts
  frontend/theta-project-tracker/src/app/components/users.component.ts
  frontend/theta-project-tracker/src/app/modals/add-user-to-project-modal.component.ts
  frontend/theta-project-tracker/src/app/modals/new-client-modal-component.ts
  frontend/theta-project-tracker/src/app/modals/new-milestone-modal.component.ts
  frontend/theta-project-tracker/src/app/modals/new-project-modal.component.ts
  frontend/theta-project-tracker/src/app/modals/new-user-modal.component.ts
  frontend/theta-project-tracker/src/styles.css
Labels: frontend

#165 I164 modified queries
  backend/src/app/controllers/report.ts
Labels: backend

#169 timeRecord debug
  backend/config/swagger.json
  backend/migrations/20200704234350_create_userTimeRecord.js
  backend/migrations/20200704234358_create_timeRecord.js
  backend/seeds/08-example-userTimeRecord.js
  backend/src/app/controllers/timeRecord.ts
  backend/src/app/models/userTimeRecord.ts
  backend/src/app/serializers/timeRecord.ts
Labels: backend

#177 I168 exporting reports
  frontend/theta-project-tracker/src/app/components/reports-table.component.ts
  frontend/theta-project-tracker/src/app/components/reports.component.ts
  frontend/theta-project-tracker/src/app/services/export.service.ts
  frontend/theta-project-tracker/src/styles.css
Labels: frontend

#182 I181-http call fix
  frontend/theta-project-tracker/src/app/services/action-label.service.ts
  frontend/theta-project-tracker/src/app/services/client.service.ts
  frontend/theta-project-tracker/src/app/services/milestone.service.ts
  frontend/theta-project-tracker/src/app/services/project.service.ts
  frontend/theta-project-tracker/src/app/services/projectUsers.service.ts
  frontend/theta-project-tracker/src/app/services/user.service.ts
Labels: frontend

#183 Css fix
  frontend/theta-project-tracker/src/app/components/edit-user.component.ts
  frontend/theta-project-tracker/src/app/components/projects.component.ts
  frontend/theta-project-tracker/src/app/components/users.component.ts
  frontend/theta-project-tracker/src/styles.css
Labels: frontend

#179 i178-projectUser-duplicate
  backend/migrations/20200617135856_create_projectUsers.js
  backend/src/app/controllers/projectUser.ts
Labels: backend

#176 I175 reorganizing report generation
  backend/src/app/controllers/report.ts
  backend/src/app/routers/report.ts
  backend/src/app/serializers/report.ts
  backend/src/lib/report.ts
  backend/src/lib/reportQuery.ts
Labels: backend

#174 I172 swagger for export endpoint
  backend/config/swagger.json
Labels: backend

#167 I162 time record copy
  backend/config/swagger.json
  backend/package.json
  backend/src/app/controllers/timeRecord.ts
  backend/src/app/controllers/timeRecordCopy.ts
  backend/src/app/models/timeRecord.ts
  backend/src/app/routers/index.ts
  backend/src/app/routers/timeRecordCopy.ts
  backend/src/app/serializers/timeRecord.ts
  backend/src/app/serializers/userTimeRecord.ts
Labels: backend

#187 I150 export excel file
  backend/src/app/controllers/export.ts
  backend/src/app/routers/export.ts
  backend/src/app/routers/index.ts
  backend/src/app/serializers/export.ts
  backend/src/lib/export.ts
Labels: backend

#188 I184-small-fixes
  frontend/theta-project-tracker/src/app/components/new-user.component.ts
  frontend/theta-project-tracker/src/app/components/profile.component.ts
  frontend/theta-project-tracker/src/app/modals/add-user-to-project-modal.component.ts
  frontend/theta-project-tracker/src/assets/i18n/en.json
Labels: frontend

#192 I47 duplicate record
  frontend/theta-project-tracker/src/app/app-routing.module.ts
  frontend/theta-project-tracker/src/app/components/date-picker.component.ts
  frontend/theta-project-tracker/src/app/components/record-create.component.ts
  frontend/theta-project-tracker/src/app/components/record-one-week.component.ts
  frontend/theta-project-tracker/src/app/components/timesheet.component.ts
  frontend/theta-project-tracker/src/app/models/record-create.model.ts
  frontend/theta-project-tracker/src/app/resolvers/timeRecords.resolver.ts
  frontend/theta-project-tracker/src/app/services/date-picker.service.ts
  frontend/theta-project-tracker/src/app/services/timsheet.service.ts
  frontend/theta-project-tracker/src/assets/i18n/en.json
Labels: frontend

#186 I178 duplicate user project
  backend/config/swagger.json
  backend/src/app/controllers/projectUser.ts
  backend/src/app/routers/projectUser.ts
Labels: backend

#191 TimeRecord copy fix
  backend/config/swagger.json
  backend/src/app/controllers/timeRecordCopy.ts
Labels: backend

#190 I189 report join correction
  backend/package-lock.json
  backend/package.json
  backend/src/lib/reportQuery.ts
Labels: backend

#193 I159 report dates
  backend/src/app/controllers/export.ts
  backend/src/app/controllers/report.ts
  backend/src/app/controllers/timeRecord.ts
  backend/src/lib/reportQuery.ts
Labels: backend

#199 Css fixes
  frontend/theta-project-tracker/src/app/components/action-label.component.ts
  frontend/theta-project-tracker/src/app/components/clients.component.ts
  frontend/theta-project-tracker/src/app/components/date-picker.component.ts
  frontend/theta-project-tracker/src/app/components/milestones.component.ts
  frontend/theta-project-tracker/src/app/components/new-project.component.ts
  frontend/theta-project-tracker/src/app/components/projects.component.ts
  frontend/theta-project-tracker/src/app/components/reports.component.ts
  frontend/theta-project-tracker/src/app/components/users.component.ts
  frontend/theta-project-tracker/src/app/modals/add-user-to-project-modal.component.ts
  frontend/theta-project-tracker/src/assets/i18n/en.json
Labels: frontend

#200 I195 export filter be
  backend/src/lib/reportQuery.ts
  frontend/theta-project-tracker/src/app/components/reports.component.ts
  frontend/theta-project-tracker/src/app/services/export.service.ts
Labels: backend

#198 I194 export filter
  frontend/theta-project-tracker/src/app/components/reports.component.ts
  frontend/theta-project-tracker/src/app/services/export.service.ts
  frontend/theta-project-tracker/src/app/services/reports.service.ts
Labels: frontend

#202 Side bar fix css
  frontend/theta-project-tracker/src/app/app.component.ts
Labels: frontend

#205 almost last finishes
  frontend/theta-project-tracker/src/app/components/edit-user.component.ts
  frontend/theta-project-tracker/src/app/components/new-user.component.ts
  frontend/theta-project-tracker/src/app/modals/add-user-to-project-modal.component.ts
  frontend/theta-project-tracker/src/app/models/project.model.ts
  frontend/theta-project-tracker/src/app/models/user.model.ts
  frontend/theta-project-tracker/src/app/services/projectUsers.service.ts
Labels: frontend

#206 I203 reports rewrite
  frontend/theta-project-tracker/src/app/components/reports.component.ts
  frontend/theta-project-tracker/src/app/services/reports.service.ts
Labels: frontend

#208 I204 budget report bugfix
  backend/src/lib/reportQuery.ts
Labels: backend

#211 bugfix
  frontend/theta-project-tracker/src/app/components/reports.component.ts
Labels: frontend

#213 I197 demo seed
  backend/seeds/01-example-users.js
  backend/seeds/02-example-clients.js
  backend/seeds/03-example-projects.js
  backend/seeds/04-example-projectUser.js
  backend/seeds/05-example-milestones.js
  backend/seeds/06-example-actionLabels.js
  backend/seeds/07-example-overtimeMultipliers.js
  backend/seeds/08-example-userTimeRecord.js
  backend/seeds/09-example-timeRecords.js
  frontend/theta-project-tracker/src/app/components/action-label.component.ts
  frontend/theta-project-tracker/src/app/components/clients.component.ts
  frontend/theta-project-tracker/src/app/components/date-picker.component.ts
  frontend/theta-project-tracker/src/app/components/milestones.component.ts
  frontend/theta-project-tracker/src/app/components/projects.component.ts
  frontend/theta-project-tracker/src/app/components/record-create.component.ts
  frontend/theta-project-tracker/src/app/components/record-one-week.component.ts
  frontend/theta-project-tracker/src/app/components/timesheet.component.ts
  frontend/theta-project-tracker/src/app/components/users.component.ts
  frontend/theta-project-tracker/src/app/modals/add-user-to-project-modal.component.ts
  frontend/theta-project-tracker/src/app/modals/confirm-modal.component.ts
  frontend/theta-project-tracker/src/app/modals/confirm-modal.ts
  frontend/theta-project-tracker/src/app/modals/delete-modal.component.ts
  frontend/theta-project-tracker/src/app/services/timsheet.service.ts
  frontend/theta-project-tracker/src/assets/i18n/en.json
Labels: frontend

#218 I201 budget calculation
  backend/src/lib/reportQuery.ts
Labels: backend

#215 I212 excel export
  backend/src/lib/export.ts
  frontend/theta-project-tracker/src/app/components/reports.component.ts
  frontend/theta-project-tracker/src/app/services/export.service.ts
  frontend/theta-project-tracker/src/app/services/reports.service.ts
  frontend/theta-project-tracker/src/app/services/timsheet.service.ts
Labels: frontend

#217 datepicker starts with whole month
  frontend/theta-project-tracker/src/app/components/reports.component.ts
Labels: frontend
